/* For the cookie dialog */

dialog {
   border-width: 0px;
   border-radius: 8px;
}

h2.dialog {
   margin: 3px 0px;
}

button.dialog, button.dialog-cancel {
   color: white;
   background-color: black;
   
   border-width: 0px;
   border-radius: 4px;
   
   padding: 6px 10px;
   margin-left: 2px;
   margin-right: 2px;
   
   /* prevent accidental cursor selection of button text */
   user-select: none;
   
   transition: all 0.1s ease;
}

ul.dialog {
   font-size:14px;
}

li.dialog {
    margin-bottom: 5px;
}

button.dialog:hover {
   color: black;
   background-color: cyan; /* lightgreen */
   
   border-width: 0px;
}

button.dialog-cancel:hover {
   color: black;
   background-color: lightgray;  /* yellow cyan magenta */
   
   border-width: 0px;
}